# 冒險 35 練習

某大學中文系希望錄取文科成績好的學生。請使用冒險 34 的 array 快篩法，從 grades.csv 的學測成績資料中找出國文、英文及社會科成績都超過 13 級分的學生姓名。

In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df = pd.read_csv('grades.csv')

In [5]:
df.head()

    姓名  國文  英文  數學  自然  社會
0  劉俊安   9  10  15  10  13
1  胡玉華  10  10  10   8   9
2  黃淑婷  13  15   8  11  14
3  陳上紫  10  10   8   9  14
4  崔靜成  13  12  14  12  13

In [6]:
name = df.姓名.values