[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/mengyulin/1102_CompThinking/blob/main/Adventure37/冒險37_組裝自己的DataFrame.ipynb)

# 冒險 37 組裝自己的 DataFrame

In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

生成一個 array。

In [2]:
mydata = np.random.randn(4, 3)

In [3]:
mydata

array([[-2.17593275,  0.56980587,  1.29857444],
       [ 0.17970667, -0.68924092, -0.44986044],
       [ 0.04466537,  0.58391708, -0.7366361 ],
       [ 1.05962956,  0.62017458,  0.09474666]])

得到一個 $4\times3$ 的 DataFrame，並指定每行的名字。

In [6]:
#df1 = pd.DataFrame(mydata, columns = ["A", "B", "C"])
df1 = pd.DataFrame(mydata, columns = list("ABC"))

In [7]:
df1

          A         B         C
0 -2.175933  0.569806  1.298574
1  0.179707 -0.689241 -0.449860
2  0.044665  0.583917 -0.736636
3  1.059630  0.620175  0.094747

打造另一個 $3\times3$ DataFrame。

In [8]:
df2 = pd.DataFrame(np.random.randn(3,3), columns = list("ABC"))
df2

          A         B         C
0 -0.917043 -0.736414  1.021407
1  0.992045  2.172176  0.453539
2 -1.525452  0.213183  1.699483

上下合併沒什麼問題。

In [9]:
df3 = pd.concat([df1, df2], axis = 0)

In [10]:
df3

          A         B         C
0 -2.175933  0.569806  1.298574
1  0.179707 -0.689241 -0.449860
2  0.044665  0.583917 -0.736636
3  1.059630  0.620175  0.094747
0 -0.917043 -0.736414  1.021407
1  0.992045  2.172176  0.453539
2 -1.525452  0.213183  1.699483

把 index 重新整理。

In [12]:
df3.index = range(7)
df3

          A         B         C
0 -2.175933  0.569806  1.298574
1  0.179707 -0.689241 -0.449860
2  0.044665  0.583917 -0.736636
3  1.059630  0.620175  0.094747
4 -0.917043 -0.736414  1.021407
5  0.992045  2.172176  0.453539
6 -1.525452  0.213183  1.699483

左右合併還是可以，不過因為形狀不同，所以會出現NaN。

In [14]:
df4 = pd.concat([df1, df2], axis = 1)
df4

          A         B         C         A         B         C
0 -2.175933  0.569806  1.298574 -0.917043 -0.736414  1.021407
1  0.179707 -0.689241 -0.449860  0.992045  2.172176  0.453539
2  0.044665  0.583917 -0.736636 -1.525452  0.213183  1.699483
3  1.059630  0.620175  0.094747       NaN       NaN       NaN